/* ---------- BASIC IMPORTS ------------ */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

:root {
  --navbar-color: rgb(250, 250, 250);
  --background-color: rgb(253, 252, 252);
  --light-color: white;
  --navbar-text-color: rgb(61, 60, 60);
  --dark-font-color: rgb(111, 111, 111);
  --very-light-grey-color: rgb(176, 174, 174);
  --photo-color: rgb(16, 167, 201);
  --video-color: rgb(201, 16, 87);
  --grey-color: grey;
  --card-color: rgb(253, 253, 253);
  --light-red-color: rgb(222, 147, 147);
  --red-color: rgb(255,0,0);
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: var(--light-color);
    line-height: 1.6;
    background-color: var(--background-color);
    transition: background-color 1s;
  background-position: 0 0, 4px 4px;
  background-size: 5px 5px;
}


/* ------- COMMON CLASSES -------- */
.cursor_pointer {
  cursor: pointer;
}

.flex_column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.flex_around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex_evenly{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.flex_between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex_middle {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex_left {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.flex_right {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.container {
  width: 1000px;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 100px;
}

@media only screen and (max-width: 1028px) {
  .container {
    width: 700px;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 700px){
  .container {
    width: 300px;
    grid-template-columns: 1fr;
  }
}


.big-container {
  width: 95vw;
  height: calc(100vh - 150px);
  margin-top: 100px;
}

.close {
  color: var(--grey-color);
  border: 1px solid var(--grey-color);
  width: 60px;
  border-radius: 5px;
  cursor: pointer;
  margin: 1em 0;
}

.close:hover {
  cursor: pointer;
  color: var(--light-red-color);
  border-color: var(--light-red-color);
}

/* ------- NAVBAR ------- */

.navbar {
  width: 100%;
  height: 60px;
  background-color: var(--navbar-color);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 0 2.5em;
  position: fixed;
    color: var(--navbar-text-color);
  top: 0;
  z-index: 100;
}

.navbar a {
  color: var(--navbar-text-color);
  text-decoration: none;
  font-size: 1.3em;
}

.navbar a:hover {
  color: var(--grey-color);
}

/* ---------- SEARCH BAR ------------ */

.navbar .search {
  padding: 10px;
  color: var(--grey-color);
  width: 500px;
}

@media only screen and (max-width: 635px){
  .navbar .search {
  width: 200px;
}
}

/* ------- ERRORS ------- */
.errors {
  color: var(--grey-color);
  border: 1px solid var(--red-color);
  padding: 10px;
  border-radius: 5px;
  color: rgb(235, 119, 119);
}

/* ----------- MOVIE CARD ----------- */
.movie {
    margin: 2em 1em;
}
.movie .card {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 250px;
  min-height: 300px;
  border-radius: 10px;
  background-color: var(--card-color);
    color: var(--dark-font-color);
}

.movie .card:hover {
  transform: scale(1.02);
  transition: 0.3s ease-in-out;
  color: var(--light-red-color);
  box-shadow: rgba(240, 141, 138, 0.2) 0px 8px 24px;
}

.movie .card img {
  object-fit: cover;
  width: 250px;
  height: 200px;
  margin-bottom: 1em;
  border-radius: 10px 10px 0 0;
}

.movie .card .title {
  font-size: 1em;
  text-align: center;
  padding: 0.5em;
}

.movie .card .year {
  font-size: 0.8em;
  color: var(--grey-color);
  padding-bottom: 1em;
}

@media only screen and (max-width: 786px){
.movie {
    margin: 1.5em 1em;
}

  .movie .card {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 200px;
  min-height: 250px;
  border-radius: 10px;
  background-color: var(--card-color);
    color: var(--dark-font-color);
}

.movie .card:hover {
  transform: scale(1.02);
  transition: 0.3s ease-in-out;
  color: var(--light-red-color);
  box-shadow: rgba(240, 141, 138, 0.2) 0px 8px 24px;
}

.movie .card img {
  object-fit: cover;
  width: 200px;
  height: 150px;
  margin-bottom: 1em;
  border-radius: 10px 10px 0 0;
}
}

/* ------- BIG CARD ------- */
.big-card {
  background-color: var(--card-color);
  color: var(--dark-font-color);
  width: 500px;
  min-height: 400px;
  border-radius: 10px;
  padding: 1em;
    overflow-x: hidden;
  overflow-y: auto;
}

/* Header */
.big-card .header {
  display: grid;
  grid-template-columns: 1.3fr 2fr;
  height: 150px;
}

.big-card .header img {
  object-fit: cover;
  height: 150px;
  border-radius: 5px;
}

.big-card .header .title {
  font-size: 1em;
  text-align: center;
}

.big-card .header .title .year {
  font-size: 0.8em;
  margin: 0.5em 0 0 0;
}

.big-card .header .title .details{
  font-size: 0.6em;
  text-align: center;
  margin: 1em 0 0 0 ;
}


/* Description */
.big-card .description {
  font-size: 0.8em;
  min-height: 50px;
  margin: 2em 0.4em 1em 0.4em;
  text-align: center;
}


/* Meta */
.big-card .meta {
  font-size: 0.7em;
  margin-bottom: 2em;
}

.big-card .meta .element {
  margin: 0 0.5em;
  text-align: center;
}

/* Cast */
.big-card .cast{
  font-size: 0.75em;
  margin: 1em 0 2em 0;
  padding: 1em;
  border-top: 1px solid rgb(242, 240, 240);
  border-bottom: 1px solid rgb(242, 240, 240);
}

@media only screen and (max-width: 600px){
  .big-card {
  background-color: var(--card-color);
  color: var(--dark-font-color);
  width: 300px;
  height: 200px;
  border-radius: 10px;
  padding: 1em;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Header */
.big-card .header {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100px;
}

.big-card .header img {
  object-fit: cover;
  height: 100px;
  border-radius: 5px;
}

.big-card .header .title {
  font-size: 0.85em;
  text-align: center;
  margin-top: 1em;
}

.big-card .header .title .year {
  font-size: 0.65em;
  margin: 0.5em 0 0 0;
}

.big-card .header .title .details{
  font-size: 0.55em;
  text-align: center;
  margin: 1em 0 0 0 ;
}


/* Description */
.big-card .description {
  font-size: 0.65em;
  min-height: 50px;
  margin: 4em 0.4em 1em 0.4em;
  text-align: center;
}


/* Meta */
.big-card .meta {
  font-size: 0.55em;
  margin-bottom: 2em;
  text-align: center;
}

.big-card .meta .element {
  margin: 0 0.5em;
  text-align: center;
}

/* Cast */
.big-card .cast{
  font-size: 0.65em;
  margin: 1em 0 2em 0;
  padding: 1em;
  border-top: 1px solid rgb(242, 240, 240);
  border-bottom: 1px solid rgb(242, 240, 240);
  text-align: center;
}
}

/* ----- EMPTY --------- */
.empty {
  color: var(--dark-font-color);
  font-size: 1.6em;
}

@media only screen and (max-width: 500px){
  .empty {
  font-size: 1.2em;
}
}

/* ----- LAZY LOADING ----- */
.lazy_loading {
  color: var(--grey-color);
  margin: 1em 0;
}
